@import "tailwindcss";

@font-face {
    font-family: 'gilroyRegular';
    src: url('./assets/fonts/Gilroy-Regular.ttf');
}

@font-face {
    font-family: 'gilroyBold';
    src: url('./assets/fonts/Gilroy-Bold.ttf');
}

@font-face {
    font-family: 'gilroyMedium';
    src: url('./assets/fonts/Gilroy-Medium.ttf');
}

* {
    font-family: 'gilroyRegular';
}
*::selection{
    background: salmon;
    color: white;
}